
<section>

  <form>

    <div class="row">

      <div class="col-6">
        <label for="name">Name</label>
        <input id="name" class="form-control" type="text">
      </div>

      <div class="col-2">
        <label for="amount">Amount</label>
        <input id="amount" class="form-control" type="text">
      </div>

    </div>

    <div class="row">
      <div class="col-5 my-4 | d-flex justify-content-between">
        <button class="btn btn-success" type="submit">Add</button>
        <button class="btn btn-primary" type="button">Clear</button>
        <button class="btn btn-danger" type="button">Delete</button>
      </div>
    </div>

  </form>

</section>
