<section class="recipe-detail">

  <h4 class="py-2"># Recipe detail</h4>

  <p *ngIf="!recipe">No Recipe Details Selected...</p>

  <div class="row" *ngIf="recipe">

    <div class="col-8">
      <img class="img-fluid" [src]="recipe?.imagePath" [alt]="recipe?.name">
    </div>

    <div class="col-4 text-right">

      <div class="btn-group">

        <button type="button" class="btn btn-primary dropdown-toggle"
          appDropdown
        >
          Manage Recipe
        </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">To Shop List</a>
          <a class="dropdown-item" href="#">Edit Recipe</a>
          <a class="dropdown-item" href="#">Delete Recipe</a>
        </div>

      </div>

    </div>

  </div>

  <div class="row" *ngIf="recipe">

    <div class="col-12">
      <h4>{{recipe?.name}}</h4>
    </div>

    <div class="col-12">
      <p>{{recipe?.description}}</p>
    </div>

    <div class="col-12">
      <p>Ingredients...</p>
    </div>

  </div>

</section>
