<section class="recipe-edit">
  <h4 class="py-2"># Recipe {{ editMode ? "Edit" : "New Recipe" }}</h4>

  <form>

    <!-- Submit -->
    <div class="row">
      <div class="col-12">
        <div class="d-flex justify-content-end">
          <button class="btn btn-success mx-1" type="submit">Save</button>
          <button class="btn btn-danger" type="button">Cancel</button>
        </div>
      </div>
    </div>

    <!-- name -->
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Name..."
          />
        </div>
      </div>
    </div>

    <!-- img -->
    <div class="row">
      <div class="col-9">
        <div class="form-group">
          <label for="imagePath"> Image Url </label>
          <textarea
            type="text"
            class="form-control"
            rows="3"
            name="imagePath"
            placeholder="Image url..."
            ></textarea
          >
        </div>
      </div>

      <div class="col-3">
        <label>&nbsp;</label>
        <img class="img-fluid" src="" alt="" />
      </div>
    </div>

    <!-- description -->
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="description"> Description </label>
          <textarea
            type="text"
            class="form-control"
            rows="2"
            name="description"
            placeholder="Description..."
            ></textarea
          >
        </div>
      </div>
    </div>

    <!-- ingredients -->
    <!-- <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="ingredients"> Ingredients </label>

          <div
            class="row mb-2"
          >
            <div class="col-9">
              <label for="">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                placeholder="Ingredient name..."
              />
            </div>

            <div class="col-2">
              <label for="">Amount</label>
              <input
                type="number"
                class="form-control"
                name="amount"
                placeholder="1"
              />
            </div>
            <div class="col-1">
              <label for="">&nbsp;</label>
              <button class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
    </div> -->

  </form>

</section>
