<p><strong>recipes works!</strong></p>

<aside>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-success">New Recipe</button>
    </div>
  </div>
</aside>

<hr>

<div class="row">

  <!-- recipes-list -->
  <div class="col-md-6">
    <!-- <app-recipe-list></app-recipe-list> -->
    <app-recipe-list
      [data-recipes]="recipes"
      (data-recipe-selected)="recipeSelected($event)"
    ></app-recipe-list>
  </div>

  <!-- recipe-detail -->
  <div class="col-md-5 ml-auto">
    <app-recipe-detail
      *ngIf="selectedRecipe"
      [data-selected-recipe]="selectedRecipe"
    ></app-recipe-detail>
  </div>

</div>
